{% extends 'base.html' %}
{% block title %} Panel {% endblock %}

{% block content %}
 <div class="column is-vcentered">
      <div class="has-text-centered">
        <div class="home-contents">
        <p class="title is-1 has-text-light">Katagami, a ShareX file uploader</p>
         <p class="subtitle is-5 has-text-light">Katagami is a small Python file uploader, started as a fun project by two idiots.<br>Don't think we're doing it seriously now, it's still just for learning.<br>Any questions? <a href="/faq">Here's our FAQ page.</a>
    </div>
  </div>
</div>
{% endblock %}